html, body {
	margin: 0px;
	font-family: Verdana, Geneva, sans-serif;
	display: flex;
	flex-direction: column;
	margin-bottom: 0px;
	height: 100%;
	width: 100%;
	overflow: hidden;
}

#top-bar {
	height: 10%;
	display: flex;
	justify-content: center;
	position: relative;
	font-size: 45px;
	color: #808080;
	border-bottom: 2px solid lightgray;
}

#top-bar:hover {
	cursor: pointer;
	-webkit-transition: 0.5s;
	transition: 0.5s;
	color: lightgray;
}

#main-content {
	display: flex;
	flex-direction: row;
	color: white;
	height: 100%;
}

#menu {
	display: flex;
	flex-direction: column;
	justify-content: center;
	justify-content: space-around;
	background-color: #FED6E0;
	font-size: 25px;
	height: 100%;
	width: 50%;
}

.menu-title {
	display: flex;
	flex-direction: row;
	justify-content: center;
	font-size: 35px;
}

#line {
	display: flex;
	justify-content: center;
	position: absolute;
	left: 150px;
	top: 400px;

}

.row {
	display: flex;
	flex-direction: row;
	justify-content: center;
	justify-content: space-around;
}

.buttons {
	display: flex;
	flex-direction: row;
	justify-content: center;
	height: 40px;
	width: 130px;
	padding: 7px 5px 5px 5px;
	border: 2px solid;

}

.buttons:hover {
	background-color: white;
	color: #FFDDDD;
	border: 1px solid lightgray;
	-webkit-transition: 0.5s;
	transition: 0.5s;
	cursor: pointer;
}

#description {
	color: lightgray;
	height: 90%;
	width: 100%;
	position: absolute;
	left: 50%;
	display: flex;
	flex-direction: column;
	font-size: 30px;
	justify-content: space-around;
}

#descrip-text {
	position: absolute;
	left: 57px;
}

#info {
	color: lightgray;
	height: 90%;
	width: 50%;
	display: flex;
	flex-direction: row;
	justify-content: center;
	justify-content: space-around;
	position: absolute;
	left: 50%;
}

.page {
	width: 100%;
	height: 100%;
	position: absolute;
	display: flex;
	flex-direction: column;
	justify-content: space-around;
}

#name {
	font-size: 40px;
	color: #E6BDBD;
	display: flex;
	justify-content: center;
}

#descrip {
	font-size: 25px;
	display: flex;
	justify-content: center;
	position: relative;
	bottom: 25px;
}
.pictures {
	height: 350px;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
}

.img-row {
	display: flex;
	flex-direction: row;
	justify-content: center;
	justify-content: space-around;
}

.image {
	width: 150px;
	height: 150px;
	border: 2px solid;
	border-radius: 50%;
	box-shadow: 2px 2px 2px;
	overflow: hidden;
}

#img4 {
	position: relative;
}

#img5 {
	position: relative;
}

#img6 {
	position: relative;
}

.likes {
	display: flex;
	flex-direction: row;
	justify-content: center;
	justify-content: space-around;

}

#likes-title {
	color: #E6BDBD;
	font-size: 35px;
	display: flex;
	flex-direction: row;
	justify-content: center;
}

.likes-items {
	color: lightgray;
	font-size: 25px;
	display: flex;
	flex-direction: column;
	justify-content: center;
	position: relative;
	bottom: 20px;
}

.like-item {
	display: flex;
	flex-direction: row;
	justify-content: center;
}
